/* GENERAL */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text{
    margin: 3% 2% 3% 2%;
    font-size: 1.3em;
}

/* NAVIGATION */
.navbar {
    min-height: 10%;
    background-color: white !important;
}

.navbar-collapse .nav-item {
    text-align: center;
}

.navbar .navbar-brand {
    position: absolute;
    left: calc(50% - 65px);
    top: calc(50% - 19px);
    font-size: 1.5em;
}

#navbarNavDropdown {
    justify-content: end;
}

/* DRAG AND DROP AREA */

.box {
    display: flex;
    background-color: #c8dadf;
    outline: 2px dashed black;
    outline-offset: -10px;
    flex-grow: 1;
    margin: 0 2% 2% 2%;
}

.box__input {
    margin: auto;
    text-align: center;
}

.box.is-dragover {
    background-color: #c8cfdf;
}

.box.is-uploading .box__input {
    visibility: none;
  }
.box.is-uploading .box__uploading {
display: block;
}