<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static',filename='bootstrap-5.1.3-dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
        <title>GPSClean Web</title>
    </head>
    <body>
        <!-- Navbar -->
        {% include 'navigation/nav.html' %}

        <div class="about-container mycontainer">
            <h2>About GPSClean Web</h2>
        
            <p>
                GPSClean Web is a small web interface for the model resulting used by <a href="https://github.com/sbettid/GPSClean">GPSClean</a>. 
                
                <br>
        
                GPSClean is the result of research conducted as Master Thesis at the Free University of Bolzano-Bozen, and concentrates in showing
                how it is possible to effectively correct GPS traces from measurements mistakes without the use of geographical information, 
                such as the location in which the trace was recorded. 
                
                <br>
        
                In a nutshell, each GPS trace is processed as follows:
        
                <ol>
                    <li>Each point of the trace is classified, according to a trained machine learning model, in one of the following categories
                        <ul>
                            <li>Correct Point</li>
                            <li>Pause (so a recorded movement while the real position was stationary)</li>
                            <li>Wrongly position point</li>
                        </ul>
                    </li>
                    <li>Pauses are removed and replaced with the average of their positions</li>
                    <li>Wrongly positioned points are replaced with the result of the application of a 
                    double <a href="https://en.wikipedia.org/wiki/Kalman_filter">Kalman Filter</a> (which we named "Bi-Directional Kalman Filter)</li>
                    <li>The corrected trace is exported back in the widely adopted GPX format</li>
                </ol>
        
                Would you like to know more about GPSClean and the research behind it? Then feel free to consult the 
                project's <a href="https://github.com/sbettid/GPSClean">GitHub page</a> or read the <a href="https://www.thinkmind.org/index.php?view=article&articleid=signal_2022_1_10_60003">associated paper</a>. 
            
            </p>

            <p>This is based on GPSClean version <b>{{ gpsclean_version }}</b></p>
        </div>
        <script src="{{ url_for('static',filename='JQuery/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static',filename='bootstrap-5.1.3-dist/js/bootstrap.bundle.js') }}"></script>
        <script src="{{ url_for('static',filename='js/navbar.js') }}"></script>
    </body>
</html>